@media only screen and (max-width: 1200px){
  .responsive-1200{
    width:90%;
  }
  .container{
    width:90%;
  }
}
@media only screen and (max-width: 1000px) {
  .container{
    width:100%;

  }
  .kolona {
    width:100%;
    padding:5px;
    text-align:center;
    overflow:hidden;
    color:#14445F    ;
  }
  .intro .inner{

  margin-top:10vh;

  }
  .sirina{
    width:100%;

  }
  .logo{
    float:none;
    width:300px;
    margin:auto;
    text-align: center;
  }
  nav .navigacija{
    overflow: hidden;
  width:100%;
  float:none;
    height:auto;
    display:flex;
    justify-content: space-around;
  }
  .meni-item{
    display:inline-block;
    padding:3px 10px;
    color:white;
    text-decoration:none;
    font-family:"Roboto",sans-serif;
    font-size:16px;
    font-weight:bold;
  }
  .druga-sekcija{
    padding:54px 0px 0px 0px;
    border-bottom: 1px solid #bbb;
  }

}
@media only screen and (max-width: 720px){
  .kolona-footer{
    width:50%;
  }
  .meni-item{
    padding:1%;
    font-size: 14px;
  }
  .ponuda-kolona{
    width:100%;
  }
  .ponuda-prag{
    display:flex;
    flex-wrap: wrap;
  }
  .container-footer{
    width:100%;

  }
  .container{
    padding:5px;
  }

  .container h1{
    margin-top:25px;
  }
#brzi-linkovi{
  display:none;
}
.main-75{
  width:100%;

}
.aside-25{
  width:100%;
}
.druga-sekcija{
  padding:54px 0px 0px 0px;
  height:auto;
}

}
